# LISTENING PORT FOR BACKEND
PORT=<PORT_NUMBER>

# POSTGRE DATABASE (USER)
PG_USER=<PG_DB_USERNAME>
PG_PASS=<PG_DB_PASSWORD>
PG_NAME=<PG_DB_NAME>
PG_HOST=<PG_DB_HOST>
PG_PORT=<PG_DB_PORT>
PG_SCHEMA=<PG_DB_SCHEMA>

# DEFAULT DATA
DEFAULT_ADMIN_USERNAME=<DEFAULT_ADMIN_USERNAME>
DEFAULT_ADMIN_PASSWORD=<DEFAULT_ADMIN_PASSWORD>
DEFAULT_START_DATE=<DEFAULT_START_DATE> # EXAMPLE : 2019-03-10
