<!-- toolbar -->
<div class="d-flex flex-row p-2">

  <!-- refresh button -->
  <button class="btn btn-outline-secondary me-4" (click)="refreshWeathers()">
    <i class="fas fa-sync-alt"></i>
  </button>

  <!-- search bar -->
  <div class="input-group w-25 me-4">
    <input #searchInput type="text" class="form-control bg-dark text-white" placeholder="Recherche" (input)="search(searchInput.value)">
    <button class="btn btn-outline-secondary" type="button" (click)="searchInput.value = ''; resetSearch()">
      <i class="fas fa-times"></i>
    </button>
  </div>

  <!-- ongoing selector -->
  <div class="py-2">
    <input
      type="checkbox" class="form-check-input" id="weathersCurrentSelector"
      [checked]="ongoingSelector" (click)="ongoingSelector = !ongoingSelector; refreshWeathers()">
    <label class="form-check-label ms-1" for="weathersCurrentSelector">En cours</label>
  </div>

</div>

<hr class="mx-3 mt-0 mb-1">

<!-- data table -->
<table class="table table-sm table-striped table-hover table-dark mb-0">

  <!-- headers -->
  <thead>
  <tr>
    <th scope="col" style="width: 13%"># Date</th>
    <th scope="col">Code</th>
    <th scope="col">Température</th>
    <th scope="col" style="width: 5%"></th>
  </tr>
  </thead>

  <!-- rows -->
  <tbody>
  <tr *ngFor="let weather of weatherList">
    <th scope="row" class="pe-5">
      <input *ngIf="formatDate(weather.date) !== ''"
             type="date" class="form-control text-center fw-bold bg-dark text-white"
             [value]="formatDate(weather.date)" disabled>
    </th>
    <td>
      <i class="fas me-1" [ngClass]="'fa-' + getWeatherIcon(weather.code)"></i>
      <span class="me-1">{{ getWeatherLabel(weather.code) }}</span>
      <span>({{ weather.code }})</span>
    </td>
    <td>{{ weather.temperature }} C°</td>
    <td>
      <button class="btn btn-outline-warning px-2 py-1" (click)="setCurrentWeather(weather); openModal(weatherModal)">
        <i class="fas fa-pen"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<!-- update modal -->
<ng-template #weatherModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Édition</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <select class="form-select mb-3 bg-dark text-white" [(ngModel)]="currentWeather.code">
      <option value="clear">Ensoleillé</option>
      <option value="clear-cloudy">Mitigé</option>
      <option value="cloudy">Nuageux</option>
      <option value="rainy">Pluvieux</option>
      <option value="snowy">Enneigé</option>
    </select>
    <input type="number" class="form-control mb-3 bg-dark text-white" placeholder="Température" [(ngModel)]="currentWeather.temperature">
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-warning" (click)="updateWeather(currentWeather)">Modifier</button>
  </div>
</ng-template>
