<!-- toolbar -->
<div class="d-flex flex-row p-2">

  <!-- creation button -->
  <button class="btn btn-outline-success me-2" (click)="setCurrentMarker(markerTemplate); openModal(markerModal)">
    <i class="fas fa-plus-circle"></i>
  </button>

  <!-- refresh button -->
  <button class="btn btn-outline-secondary me-4" (click)="refreshMarkers()">
    <i class="fas fa-sync-alt"></i>
  </button>

  <!-- search bar -->
  <div class="input-group w-25">
    <input #searchInput type="text" class="form-control bg-dark text-white" placeholder="Recherche" (input)="searchValue = searchInput.value; search()">
    <button class="btn btn-outline-secondary" type="button" (click)="searchValue = ''; searchInput.value = ''; resetSearch()">
      <i class="fas fa-times"></i>
    </button>
  </div>

</div>

<hr class="mx-3 mt-0 mb-1">

<!-- data table -->
<table class="table table-sm table-dark table-striped table-hover mb-0">

  <!-- headers -->
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Label</th>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">Icône</th>
      <th scope="col" class="text-center" style="width: 8%">Couleur</th>
      <th scope="col" class="text-center" style="width: 8%">Caché</th>
      <th scope="col" style="width: 5%"></th>
      <th scope="col" style="width: 5%"></th>
    </tr>
  </thead>

  <!-- rows -->
  <tbody>
    <tr *ngFor="let marker of markerList">
      <th scope="row">{{ marker.id }}</th>
      <td>{{ marker.label }}</td>
      <td>{{ marker.lat }}</td>
      <td>{{ marker.lon }}</td>
      <td>
        <i class="fas fa-{{ marker.icon }} me-1"></i>
        <span>({{ marker.icon }})</span>
      </td>
      <td class="d-flex flex-row justify-content-center">
        <input type="color" class="form-control form-control-color bg-dark" [value]="marker.bgColor" onclick="return false;">
      </td>
      <td class="text-center">
        <input type="checkbox" class="form-check-input" [checked]="marker.hidden" onclick="return false;">
      </td>
      <td>
        <button class="btn btn-outline-warning px-2 py-1" (click)="setCurrentMarker(marker); openModal(markerModal)">
          <i class="fas fa-pen"></i>
        </button>
      </td>
      <td>
        <button class="btn btn-outline-danger px-2 py-1" (click)="setCurrentMarker(marker); openModal(markerDeleteModal)">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- creation/update modal -->
<ng-template #markerModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{currentMarker.id == 0 ? 'Création' : 'Édition' }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control mb-3 bg-dark text-white" placeholder="Label" [(ngModel)]="currentMarker.label">
    <input type="number" class="form-control mb-3 bg-dark text-white" placeholder="Latitude" [(ngModel)]="currentMarker.lat">
    <input type="number" class="form-control mb-3 bg-dark text-white" placeholder="Longitude" [(ngModel)]="currentMarker.lon">
    <input type="text" class="form-control mb-3 bg-dark text-white" placeholder="Icône" [(ngModel)]="currentMarker.icon">
    <input type="color" class="form-control form-control-color mb-3 bg-dark" [(ngModel)]="currentMarker.bgColor">
    <div class="mb-3">
      <input type="checkbox" class="form-check-input" id="markerHiddenCheck" [(ngModel)]="currentMarker.hidden">
      <label class="form-check-label ms-1" for="markerHiddenCheck">Caché</label>
    </div>
  </div>
  <div class="modal-footer">
    <button
      class="btn"
      [ngClass]="currentMarker.id == 0 ? 'btn-outline-success' : 'btn-outline-warning'"
      (click)="currentMarker.id == 0 ? createMarker(currentMarker) : updateMarker(currentMarker)"
    >
      {{currentMarker.id == 0 ? 'Nouveau' : 'Modifier' }}
    </button>
  </div>
</ng-template>

<!-- deletion modal -->
<ng-template #markerDeleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Suppression</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Êtes-vous sûr de bien vouloir supprimer cet élément ?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-danger" (click)="deleteMarker(currentMarker)">Supprimer</button>
  </div>
</ng-template>
