input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

.select-mirror {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23efeda6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

::ng-deep.popover {
  max-width: 100%;
}

::ng-deep.popover-body {
  padding-top: 4px;
}

.ease {
  transition: ease-in-out 1s;
}

::ng-deep.bg-mirror {
  background-color: #413543 !important;
}

::ng-deep.text-mirror {
  color: #efeda6 !important;
}

::ng-deep.border-mirror {
  border-color: #efeda6 !important;
}
