<div #historyTarget class="d-flex flex-row">

  <!-- dice number input -->
  <input [(ngModel)]="nbDice" (change)="boundNbDice()" class="form-control m-0 p-0 text-center ease" placeholder="NB"
         style="font-size: 1.5em; width: 12%" type="number"
         [ngClass]="getColorClass()">

  <!-- dice number incremental buttons -->
  <div class="d-flex flex-column ms-1">
    <button (click)="nbDice = nbDice + 1" class="btn btn-sm btn-outline-secondary px-2 py-0">
      <i class="fas fa-caret-up"></i>
    </button>
    <button (click)="nbDice = nbDice - 1; boundNbDice()" class="btn btn-sm btn-outline-secondary px-2 py-0 mt-1">
      <i class="fas fa-caret-down"></i>
    </button>
  </div>

  <!-- dice choice selector -->
  <select [(ngModel)]="selectedDice" class="form-select ms-3 p-0 ps-1 ease" style="width: 14%"
          [ngClass]="getColorClass()"
          [class.select-mirror]="day.mirror">
    <option value="2">D2</option>
    <option value="3">D3</option>
    <option value="4">D4</option>
    <option selected value="6">D6</option>
    <option value="10">D10</option>
    <option value="12">D12</option>
    <option value="20">D20</option>
  </select>

  <!-- modifier input -->
  <input [(ngModel)]="modifier" class="form-control ms-3 p-0 text-center ease" placeholder="+/-"
         style="font-size: 1.5em; width: 12%" type="number"
         [ngClass]="getColorClass()">

  <div class="col">

    <!-- roll button -->
    <button (click)="roll()" [disabled]="rolling" class="btn btn-outline-secondary ms-3 py-0"
            [ngClass]="admin ? 'h-50' : 'h-100'">GO</button>

    <div *ngIf="admin" class="d-flex ms-3 justify-content-evenly">
      <input type="checkbox" class="form-check-input" [(ngModel)]="hideRoll">
      <i class="fas fa-eye-slash mt-1"></i>
    </div>

  </div>


  <div class="vr ms-3"></div>

  <!-- result display -->
  <h2 [ngClass]="rolling ? '' : 'fw-bold '" class="ms-3 mt-1 mb-0 p-0 text-center" style="width: 10%">{{ result }}</h2>

  <div class="vr ms-3"></div>

  <!-- history hover display -->
  <div class="d-flex align-items-center justify-content-center ms-3" style="width: 10%">
    <i [positionTarget]="historyTarget" class="fas fa-2x fa-history"
       [ngbPopover]="rollHistory"
       [ngStyle]="historyHovered ? {color: day.mirror ? '#efeda6' : 'grey' } : {color: day.mirror ? '#f1edc8' : 'lightgrey'}"
       placement="top"
       triggers="mouseenter:mouseleave"
       [popoverClass]="getPopoverColorClass()"
       (mouseenter)="historyHovered = true"
       (mouseleave)="historyHovered = false">
    </i>
  </div>


  <!-- history -->
  <ng-template #rollHistory>
    <div class="mb-1 text-center fst-italic" [ngClass]="getTextColorClass()">...</div>
    <div *ngFor="let roll of rolls" class="mb-1" [ngClass]="getTextColorClass()">
      <span class="fst-italic text-muted">{{ roll.timestamp | date:'HH:mm' }}: </span>
      <span class="text-decoration-underline">{{ roll.user.username }}</span>
      <span> a fait un</span>
      <span class="fw-bold"> {{ roll.type == '■' ? '■' : roll.value }}</span>
      <span class="fst-italic"> ({{ roll.type }})</span>
      <span> [{{ roll.detail }}]</span>
    </div>
  </ng-template>

</div>
